body {
	background-image: url('../img/background.jpg');
  min-width: 600px;
  padding: 0;
  margin: 0;
}

.background {
  position: fixed;
  left: 50%;
  transform: translateX(-400px);
  width: 800px;
  min-height: 100vmin;
  background-color: rgba(32, 33, 35, 0.5);
}

.wrapper {
	position: relative;
  width: 800px;
  min-height: 100vmin;
	margin: 0 auto;
  text-align: end;
}

.pasha {
  margin-right: 50px;
}

.playButton {
	position: absolute;
	top: 150px;
	left: 200px;
	border: none;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: yellow;
	font-size: 25px;
	animation-name: button-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.playButton:hover {
	cursor: pointer;
}

.playButton:focus {
	outline: none;
}

@keyframes button-animation {
	0% {
		transform: scale(1, 1)
	}
	50% {
		transform: scale(1.1, 1.1)
	}
	100% {
		transform: scale(1, 1)
	}
}