body {
	background-image: url('../img/background.jpg');
  min-width: 600px;
  padding: 0;
  margin: 0;
}

.background {
  position: fixed;
  left: 50%;
  transform: translateX(-400px);
  width: 800px;
  min-height: 100vmin;
  background-color: rgba(32, 33, 35, 0.5);
  filter: blur(5px);
}

.wrapper {
	position: relative;
  width: 800px;
  min-height: 100vmin;
	margin: 0 auto;
  text-align: end;
}

.pasha {
  margin-right: 30px;
}

.bubble {
  position: absolute;
  top: 80px;
  left: 120px;
  animation-name: bubble-animation;
  animation-direction: alternate;
	animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.bubble:hover {
  cursor: pointer;
}

.bubble:hover .play {
  fill: white;
  stroke: black;
  stroke-width: 5px;
}

.bubble:active .play {
  fill: black;
  stroke: black;
  stroke-width: 5px;
}

.bubble:active {
  transform: scale(0.9, 0.9);
}

.playing {
  animation-name: playing-animation;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.playing:nth-of-type(2) {
  animation-delay: 0.2s;
}

.playing:last-of-type {
  animation-delay: 0.4s;
}

@keyframes bubble-animation {
	from {
		transform: scale(1, 1)
	}
	to {
		transform: scale(1.1, 1.1)
	}
}

@keyframes playing-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.display-none {
  display: none;
}